<ion-view class=" " style="background-color: rgb(239, 71, 58);" id="questoes" title="questoes" hide-nav-bar="true" hide-back-button="true">

      <div id="barraDeNivel">

      </div>

    <ion-content scroll="true" padding="true" class="manual-ios-statusbar-padding">





        <!--<h2 style="color: rgb(255, 255, 255);" id="q1-heading3">Nível</h2>-->

        <div style="width: 300px; height: 62px;" class="spacer"></div>
        <div id="perguntas" style="">

        </div>
        <form class="list " id="q1-form2">
            <div style="width: 300px; margin-top: 10%;" class="spacer"></div>
            <label id="q1-input2" class="item item-input">
                <input id="resposta" placeholder="Escreva aqui sua resposta" type="tel">
            </label>
        </form>



          <button class="button button-light button-block icon" ng-click="callNextQuestion()" style="font-weight:500;color:#EF473A;" id="q1-button10">Enviar resposta</button>
    </ion-content>
</ion-view>
